{% extends 'base.html' %} {% block title %}Mi Perfil{% endblock %} {% block
content %}
<div class="form-container">
  <h2 class="mb-4 text-center">Mi Perfil</h2>
  <form action="" method="post">
    <div class="mb-3">
      <label for="username" class="form-label">Usuario</label>
      <input
        name="username"
        class="form-control"
        value="{{ current_user.username }}"
        required
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        name="email"
        class="form-control"
        value="{{ current_user.email or '' }}"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Nueva contraseña</label>
      <input
        name="password"
        type="password"
        class="form-control"
        placeholder="Nueva contraseña"
      />
    </div>
    <button type="submit" class="btn btn-primary w-100">Guardar cambios</button>
  </form>
</div>
{% endblock %}
