<!-- templates/register.html -->
{% extends 'base.html' %} {% block title %}Registro{% endblock %} {% block
content %}
<div class="form-container">
  <h2 class="mb-4 text-center">Registro</h2>
  <form action="" method="post">
    <div class="mb-3">
      <input
        name="username"
        class="form-control"
        placeholder="Usuario"
        required
      />
    </div>
    <div class="mb-3">
      <input
        name="email"
        type="email"
        class="form-control"
        placeholder="Email"
        required
      />
    </div>
    <div class="mb-3">
      <input
        name="password"
        type="password"
        class="form-control"
        placeholder="Contraseña"
        required
      />
    </div>
    <div class="mb-3">
      <select name="role" class="form-select">
        <option value="jugador">Jugador</option>
        <option value="entrenador">Entrenador</option>
        <option value="administrador">Administrador</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary w-100">Registrar</button>
  </form>
</div>
{% endblock %}
